<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{trainer.full_name}}!</h2>
    </div>
</div>


        {{#each catalogs as |items| }}
<div class="item-card card" style="width: 18rem">
    <img class="card-img-top" src="{{{sprites}}}" alt="Card image cap" />
    <div class="card-body">
        <h5 class="card-title">Items: {{name}}</h5>
        <p class="card-text">Type: {{types}}</p>
        </a>
    </div>
</div>
{{/each}}
